@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="auth__register-confirm">
    <h1 class="white-text">Email confirmation</h1>

    <p class="white-text">
        Please check your email to confirm your account.
    </p>
</div>

